nano-banana/generate_pic_Nano_banana.json
{
  "name": "My workflow 2",
  "nodes": [
    {
      "parameters": {
        "formTitle": "صف الصورة التي ترغب في إنشائها",
        "formDescription": "صف المشهد",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Input",
              "placeholder": "A baby eat a banana",
              "requiredField": true
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.2,
      "position": [
        0,
        0
      ],
      "id": "36c78e19-4879-4b6e-9bbd-42ae122ec43f",
      "name": "On form submission",
      "webhookId": "23f222c9-61d4-4eb9-a999-09aafb659633"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=TASK:  \nYou are an expert AI prompt designer. Your mission is to expand the short user input into a vivid, cinematic, hyper-realistic first-frame prompt. The output should be highly descriptive, visually immersive, and optimized for both text-to-image and text-to-video models, including Flux, MidJourney, Stable Diffusion, Runway Gen-3 Alpha, and Pika Labs.  \n\nUser Input: {{ $json.Input }}\n\nFINAL INSTRUCTIONS:  \n- The result must be fewer than 500 characters.  \n- Return only one JSON object in the format:  \n{ \"prompt\": \"Generated text output here...\" }",
        "hasOutputParser": true,
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.7,
      "position": [
        208,
        0
      ],
      "id": "b0e218ec-56c2-4d05-be58-adeb6f7971db",
      "name": "Basic LLM Chain"
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n  \"type\": \"object\",\n  \"properties\": {\n    \"prompt\": { \"type\": \"string\" }\n  },\n  \"required\": [\"prompt\"]\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        352,
        208
      ],
      "id": "aca8d670-faea-4c9c-a467-90ad097041ca",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        96,
        208
      ],
      "id": "4114eb3e-2a94-4b47-bd6c-2f9e48ffc0ab",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "8xqZUbbDaeHE2kui",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://openrouter.ai/api/v1/chat/completions",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "openRouterApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"google/gemini-2.5-flash-image-preview:free\",\n\"modalities\": [\"image\", \"text\"],\n  \"messages\": [\n    {\n      \"role\": \"user\",\n      \"content\": \"{{ $json.output.prompt }}\"\n    }\n  ]\n}\n ",
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        560,
        0
      ],
      "id": "60e70ab2-f465-4161-a8ac-3ba544fc0be2",
      "name": "HTTP Request",
      "credentials": {
        "openRouterApi": {
          "id": "zFdRxdlWUFUNgLq1",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "df85933e-6e8d-42b7-a275-711328798aeb",
              "name": "image_full",
              "value": "={{$json[\"choices\"][0][\"message\"][\"images\"][0][\"image_url\"][\"url\"]}}",
              "type": "string"
            },
            {
              "id": "b0871608-a0af-45f3-8f30-9daf46051780",
              "name": "image_raw",
              "value": "={{$json[\"choices\"][0][\"message\"][\"images\"][0][\"image_url\"][\"url\"].split(\",\")[1]}}",
              "type": "string"
            },
            {
              "id": "f7d77922-51ad-498b-9b98-215f4ed2a32d",
              "name": "image_type",
              "value": "={{$json[\"choices\"][0][\"message\"][\"images\"][0][\"image_url\"][\"url\"].match(/data:(.*);base64/)[1]}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        768,
        0
      ],
      "id": "aed40002-7212-4f29-bbc6-f79fb32d9e9c",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "operation": "toBinary",
        "sourceProperty": "image_raw",
        "options": {}
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        976,
        0
      ],
      "id": "8ccfd578-555b-483c-ba28-1c1ad300e7b8",
      "name": "Convert to File"
    }
  ],
  "pinData": {},
  "connections": {
    "On form submission": {
      "main": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Convert to File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "6a165294-d3d4-41fa-bfd1-53ebac608d0f",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "b63085b658bc2a28eb2d87a9930caf7071338474cb06f66ba35f63ddca023d47"
  },
  "id": "guze5dgoCWpY7Qzw",
  "tags": []
}